<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <mat-toolbar color="primary">
        <button mat-icon-button aria-label="Menu icon" (click)="menu()">
          <mat-icon>menu</mat-icon>
        </button>
        <h1>Strona główna</h1>
      </mat-toolbar>

      <mat-sidenav-container autosize>
        <mat-sidenav [opened]="true" mode="side">
          <mat-nav-list>
            <mat-list-item>
              <span class="entry">
                <!-- <mat-icon>house</mat-icon> -->
                <span (click)="myplant()">Twoje plantacje</span>

              </span>
            </mat-list-item>
            <mat-list-item>
              <span class="entry" >
                <span (click)="plant()" #dodaj>Dodaj plantację</span><mat-icon>add</mat-icon>
              </span>
            </mat-list-item>
            <mat-list-item>
              <span class="entry" >
                <span (click)="plant()">Sektory</span>
              </span>
            </mat-list-item>
            <mat-list-item>
              <span class="entry">
                <span (click)="userDetails()">Panel użytkownika</span>
              </span>
            </mat-list-item>
          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
          <!-- <h2>[Tu będzie mapa :D]</h2> -->
          <div (click)="det()">
          <app-plantation-list *ngIf="showPlants"></app-plantation-list>
        </div>
          <app-plantation-form *ngIf="showElement" ></app-plantation-form>
          <app-details *ngIf="showDetails"></app-details>
          <app-sectors-form *ngIf="showSector"></app-sectors-form>
          <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>



</body>
</html>
