<div class="w-100 h-100 mt-2 ms-2">
  <h1>Zbiory</h1>

  <div OwnerAccess>
    <h2>Zaplanuj zbiory</h2>
    <div>
        <mat-form-field>
      <mat-label>Wybierz datę</mat-label>
      <input matInput [matDatepicker]="picker"  [(ngModel)]="harvestModel.date" required>
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
     
      <mat-form-field>
        <mat-label>Wybierz plantację</mat-label>
        <mat-select [(ngModel)]="harvestModel.plantationId" (ngModelChange)="changePlantation()"  required>
          
            <mat-option *ngFor="let plantation of plantations" [value]="plantation.id">{{ plantation.name}}</mat-option>
      
        </mat-select>
      </mat-form-field>
    
      <mat-form-field floatLabel="always">
        <mat-label>Cena za pojemnik</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="0" [(ngModel)]="harvestModel.priceForFullContainer"
        [ngModelOptions]="{standalone: true}" required >
        <span matTextPrefix>Zł&nbsp;</span>
        <span matTextSuffix>.00</span>
      </mat-form-field>
      <div id="user-harvests">
       
        <button mat-raised-button color="primary" (click)="addEmptyUserHarvest()" [disabled]="harvestModel.plantationId == null" class="bt1">Przypisz pracownika do
          zbioru</button>
        <div [style.height]="userHarvestForHarvest.length > 2 ? '20vh' : '10vh'" style="overflow: auto;">
          @for (userHarvest of userHarvestForHarvest; track userHarvest; let index = $index) {
            <div>
              <div id="plant-pick" class="d-inline">
             
                <mat-form-field>
                  <mat-label>Wybierz typ rośliny</mat-label>
                  <mat-select  [(ngModel)]="plantTypes[index]" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="getPlants(index)">
                    
                      <mat-option [value]="0">Owoce</mat-option>
                      <mat-option [value]="1">Warzywa</mat-option>
                
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Wybierz {{ plantType == 0 ? 'owoc' : 'warzywo' }}</mat-label>
                  <mat-select [(ngModel)]="userHarvestForHarvest[index].plantId">
                    
                      <mat-option *ngFor="let plant of plants[index]" [value]="plant.id">{{ plant.name}}</mat-option>
                
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Wybierz sektor</mat-label>
                  <mat-select [(ngModel)]="userHarvestForHarvest[index].sectorId"
                  [ngModelOptions]="{standalone: true}">
                    
                      <mat-option *ngFor="let sector of plantationSectors" [value]="sector.id">{{ sector.name}}</mat-option>
                
                  </mat-select>
                </mat-form-field>

                <mat-form-field floatLabel="always">
                  <mat-label>Wybierz rząd:</mat-label>
                  <input matInput type="number" class="example-right-align" placeholder="0" [(ngModel)]="userHarvestForHarvest[index].row">
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Wybierz pracownika</mat-label>
                  <mat-select [(ngModel)]="userHarvestForHarvest[index].userId" [ngModelOptions]="{standalone: true}">
                    
                      <mat-option *ngFor="let employee of employees" [value]="employee.id">{{ employee.firstName }} {{ employee.lastName }}</mat-option>
                
                  </mat-select>
                </mat-form-field>

              </div>
              <div class="d-inline">
                <button class="btn btn-sm py-1 px-2 btn-danger" (click)="deleteUserHarvest(index)">X</button>
              </div>
            </div>
          }
        </div>
      
        <button mat-raised-button color="primary" (click)="saveHarvest()" [disabled]="harvestModel.plantationId == null" class="bt1">Zapisz zbiór</button>
      </div>
    </div>
  </div>


  <div EmployeeAccess>
    <h2>Aktywne zbiory</h2>
 
    <div>
      <label for="plantation-harvest-id">Wybierz plantacje:</label>
      <select id="plantation-harvest-id" [(ngModel)]="todayPlantationId" [ngModelOptions]="{standalone: true}" (ngModelChange)="getTodayUserHarvest()">
        @for (plantation of plantations; track plantation.id) {
          <option [ngValue]="plantation.id">{{ plantation.name }}</option>
        }
      </select>
    </div>

    <div id="map"></div>

    <div>
      @for (userHarvest of userHarvests; track userHarvest.id) {
        <div class="bg-secondary-subtle rounded px-2 py-2 d-flex flex-row">
          <p class="mb-0 mt-1">Zbiory w:<span class="font-weight-bold">{{ getPlantationName(todayPlantationId) }}</span></p>
          <button class="mx-2 btn btn-sm btn-success py-1 px-2" (click)="startUserHarvest(userHarvest.id)" [disabled]="userHarvest.harvestStart != null">Rozpocznij
            zbiory
          </button>
          <button class="mx-2 btn btn-sm btn-primary py-1 px-2" (click)="reportCollectedContainer(userHarvest.harvestId)"
                  [disabled]="userHarvest.harvestStart == null || userHarvest.harvestEnd != null">Zgłoś pełną skrzynkę
          </button>
          <button class="mx-2 btn btn-sm btn-danger py-1 px-2" (click)="endUserHarvest(userHarvest.id)"
                  [disabled]="userHarvest.harvestStart == null || userHarvest.harvestEnd != null">Zakończ zbiór
          </button>
        </div>
      } @empty {
        <p>Dzisiaj nie czekają cię żadne zbiory ;)</p>
      }
    </div>
  </div>

  <div OwnerAccess>
    <h2>Zbiory</h2>
    <div style="height: 45vh; overflow: auto">

      <mat-form-field>
        <mat-label>Wybierz plantację</mat-label>
        <mat-select [(ngModel)]="plantationId">
          
            <mat-option *ngFor="let plantation of plantations" [value]="plantation.id">{{ plantation.name}}</mat-option>
      
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Wybierz datę od</mat-label>
        <input matInput [matDatepicker]="picker"  [(ngModel)]="dateRange.start" [ngModelOptions]="{standalone: true}">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Wybierz datę do</mat-label>
        <input matInput [matDatepicker]="picker"  [(ngModel)]="dateRange.end" [ngModelOptions]="{standalone: true}">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="getHarvests()" [disabled]="plantationId == null" class="bt1">Szukaj</button>
      <br>
      <div id="zbior">
        @for (harvest of harvests; track harvest.id) {
          <div class="d-flex flex-row">
            <p class="mb-0 mt-1">Id zbioru: <span class="font-weight-bold">{{ harvest.id }}</span></p>
            <p class="mb-0 mt-1">  Plantacja: <span
              class="font-weight-bold">{{ getPlantationName(harvest.plantationId) }}</span></p>
            <p class="mb-0 mt-1">  Data: <span class="font-weight-bold">{{ formatDateFromArray(harvest.date) }}</span></p>
            <p class="mb-0 mt-1">  Cena za pojemnik: <span class="font-weight-bold">{{ harvest.priceForFullContainer }}
              zł</span></p>
            <div class="row">

              <div class="col" style="width: 75px">
                <button class="btn btn-sm btn-danger py-1 px-2" (click)="deleteHarvest(harvest.id)">Usuń</button>
              </div>
            </div>
          </div>
        } @empty {
          <p>Brak zbiorów</p>
        }
      </div>
      @if (harvests.length > 0) {
        <div class="d-flex flex-row">
          <button class="btn btn-sm btn-primary rounded-circle py-0 px-2"
                  (click)="changePageInHarvests(pagination.page - 1)" [disabled]="leftButton"><
          </button>
          <br>
          <p class="mb-0 mt-1">strona {{ pagination.page + 1 }} z {{ pagination.totalPages }}</p>
          <button class="btn btn-sm btn-primary rounded-circle py-0 px-2"
                  (click)="changePageInHarvests(pagination.page + 1)" [disabled]="rightButton">>
          </button>
        </div>
      }
    </div>
  </div>
</div>