<div class="w-100 h-100 mt-2 ms-2">
  <h1>Zbiory</h1>

  <!-- Adding harvests -->
  <div OwnerAccess>
    <h2>Zaplanuj zbiory</h2>
    <!--    <button (click)="getPlantationsForForm()">Zaplanuj</button>-->
    <div>
      <div id="date-pick">
        <label for="harvest-date">Wybierz datę:</label>
        <input id="harvest-date" type="date" [(ngModel)]="harvestModel.date" required>
      </div>
      <div id="plantation-pick">
        <label for="plantation">Wybierz plantację:</label>
        <select id="plantation" [(ngModel)]="harvestModel.plantationId" (ngModelChange)="changePlantation()" required>
          @for (plantation of plantations; track plantation.id; let i = $index) {
            <option [ngValue]="plantation.id" [defaultSelected]="i == 0">{{ plantation.name }}</option>
          }
        </select>
      </div>
      <div id="price-pick">
        <label for="price">Cena za pojemnik (w zł):</label>
        <input id="price" type="number" [(ngModel)]="harvestModel.priceForFullContainer"
               [ngModelOptions]="{standalone: true}" required>
      </div>
      <div id="user-harvests">
        <button (click)="addEmptyUserHarvest()" [disabled]="harvestModel.plantationId == null">Przypisz pracownika do
          zbioru:
        </button>
        <div style="height: 20vh; overflow: auto;">
          @for (userHarvest of userHarvestForHarvest; track userHarvest; let index = $index) {
            <div>
              <div id="plant-pick" class="d-inline">
                <label for="plant-type">Wybierz typ rośliny:</label>
                <select id="plant-type" [(ngModel)]="plantType" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="getPlants(index)">
                  <option [ngValue]="0">Owoce</option>
                  <option [ngValue]="1">Warzywa</option>
                </select>
                <label for="plant">Wybierz {{ plantType == 0 ? 'owoc' : 'warzywo' }}:</label>
                <select id="plant" [(ngModel)]="userHarvestForHarvest[index].plantId">
                  @for (plant of plants[index]; track plant.id) {
                    <option [ngValue]="plant.id">{{ plant.name }}</option>
                  }
                </select>
                <label for="sector">Wybierz sektor:</label>
                <select id="sector" [(ngModel)]="userHarvestForHarvest[index].sectorId"
                        [ngModelOptions]="{standalone: true}">
                  @for (sector of plantationSectors; track sector) {
                    <option [ngValue]="sector.id">{{ sector.name }}</option>
                  }
                </select>
                <label for="row">Wybierz rząd:</label>
                <input id="row" type="number" [(ngModel)]="userHarvestForHarvest[index].row">
                <label for="employee">Wybierz pracownika:</label>
                <select id="employee" [(ngModel)]="userHarvestForHarvest[index].userId">
                  @for (employee of employees; track employee) {
                    <option [ngValue]="employee.id">{{ employee.firstName }} {{ employee.lastName }}</option>
                  }
                </select>
              </div>
              <div class="d-inline">
                <button class="btn btn-sm py-1 px-2 btn-danger" (click)="deleteUserHarvest(index)">X</button>
              </div>
            </div>
          }
        </div>
        <button class="btn btn-sm btn-success py-1 px-2" (click)="saveHarvest()"
                [disabled]="harvestModel.plantationId == null">Zapisz zbiór
        </button>
      </div>
    </div>
  </div>

  <!-- Active harvest for example today -->
  <div>
    <h2>Aktywne zbiory</h2>
    <div>
      CONTENT
    </div>
  </div>

  <!-- History -->
  <div>
    <h2>Poprzednie zbiory</h2>
    <div>
      CONTENT
    </div>
  </div>
</div>


