body {
    margin: 0;
    padding: 0;
    background: url('../../assets/images/blueberry.jpg') no-repeat;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    caret-color: transparent;
}
.container{
    height: 100vh;
    
}
#form{
    background-color: #f3f5fa;
    border-radius: 15px;
    border: 1px solid #2f3749; 

}

.form-control{
    border-radius: 15px;
 
    background-color: #2f3749;
    color: #f3f5fa;
}
input[type=submit]{
    opacity: 100%;
}

h3{
    margin: 2vh;
}
