#list{
    background-color: white;
    
}
#sector{
    background-color: lightblue;
    margin: 1vw;
    padding: 1vw;
}
.plant{
    display: inline-block;
    padding: 1vw;
    border: 1px solid black;
    margin: 1vw;
    height: 20vh;
   
}
h1{
    padding: 1vw;
}

p{
    color: red;
}

button{
    background-color: #2f3749;
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 16px;
}
mat-icon{
    background-color: #FFFFFF;
    color: #2f3749;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
    
}