<div id="container">
  <form (ngSubmit)="save()" ngNativeValidate #formularz="ngForm">
    <mat-label>Dodaj plantację</mat-label>
    <br>
    <mat-form-field>
      <mat-label>Wpisz nazwę plantacji</mat-label>
      <input matInput [(ngModel)]="formData.name" name="name" required>
    </mat-form-field>

    <!-- <mat-form-field>
      <mat-label>Wybierz owoc</mat-label>
      <mat-select name="fruit" [(value)]="defaultFruit" required>
        <mat-option value="one">Borówki</mat-option>
        <mat-option value="two">Truskawki</mat-option>
      </mat-select>
    </mat-form-field> -->

    <br>
    <mat-label>Adres</mat-label>
    <mat-form-field>
      <mat-label>Miasto</mat-label>
      <input matInput [(ngModel)]="formData.city" name="city" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ulica</mat-label>
      <input matInput [(ngModel)]="formData.street" name="street" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nr domu</mat-label>
      <input matInput [(ngModel)]="formData.housenumber" name="housenumber" required>
    </mat-form-field>

    <br>
    <mat-label>Ustaw obszar plantacji</mat-label>
    <div id="map"></div>
    <button type="submit" mat-raised-button color="primary" (click)="debug(formularz)"
            [disabled]="!formularz.form.valid">Zapisz
    </button>

  </form>
</div>

