#list{
    background-color: white;
    
}
.plant{
    display: inline-block;
    padding: 1vw;
    border: 1px solid black;
    margin: 1vw;
    height: 20vh;
   
}
h1{
    padding: 1vw;
    padding-bottom: 5vh;
    text-align: center;
}
h2{
    padding: 1vw;
    text-align: center;
}
#form{
    text-align: center;
}

p{
    color: red;
}

button{
    background-color: #2f3749;
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 16px;
}

