<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Menu icon" (click)="menu()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>Strona główna</h1>
  <button mat-button color="primary" id="logout" (click)="logout()">Wyloguj się</button>
</mat-toolbar>

<mat-sidenav-container autosize>
  <mat-sidenav [opened]="true" mode="side">
    <mat-nav-list>
      <mat-list-item (click)="myPlant()" OwnerAccess>
              <span class="entry">
                <span>Twoje plantacje</span>
              </span>
      </mat-list-item>
      <mat-list-item (click)="plant()" OwnerAccess>
              <span class="entry">
                <span>Dodaj plantację</span><mat-icon>add</mat-icon>
              </span>
      </mat-list-item>
      <mat-list-item (click)="sec()" OwnerAccess>
              <span class="entry">
                <span>Sektory</span>
              </span>
      </mat-list-item>
      <mat-list-item (click)="emp()" OwnerAccess>
              <span class="entry">
                <span>Pracownicy</span>
              </span>
      </mat-list-item>
      <mat-list-item (click)="harvest()">
              <span class="entry">
                <span>Statystyki</span>
              </span>
      </mat-list-item>
      @if (user()) {
        <mat-list-item (click)="userDetails()">
          <span class="entry">
              <span>{{ user().firstName }} {{ user().lastName }}</span>
          </span>
        </mat-list-item>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!--    <ng-content></ng-content>-->

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

