<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class='col-lg-6' id="form">
                <h1 class="text-center">Rejestracja</h1>
                <form action="#">
                    <div class="form-group">
                        <input type="email" placeholder="Wpisz swój email" class="form-control " required>
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Wpisz swoje hasło" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Powtórz hasło" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Zaloguj się" class="form-control">
                        <h3 class="text-center">Masz już konto?<a href="/login">Zaloguj się</a></h3>
                    </div>
                </form>
            </div>
        </div>    
    </div>
</body>
</html>
