body {
    margin: 0;
    padding: 0;
    background: url('../../assets/images/blueberry.jpg') no-repeat;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    caret-color: transparent;
}
.container{
    height: 100vh;
    
}
#form{
    background-color: #f3f5fa;
    border-radius: 15px;
    border: 1px solid #2f3749; 

}

.form-control{
    border-radius: 15px;
 
    background-color: #2f3749;
    color: #f3f5fa;
}
input[type=submit]{
    opacity: 100%;
}

h3{
    margin: 2vh;
}


.up-in-toggle input {
  height: 0px;
  width: 0px;

}
.up-in-toggle input:checked + label {
  background-color: #2f3749;
  color: white;
}
.up-in-toggle label {
  display: inline-block;
  width: 50%;
  background-color: white;
  color: lightgrey;
  text-align: center;
 
  padding: 6px 6px;
  float: left;
  transition: all 0.1s ease-in-out;
}
.up-in-toggle label:hover {
  cursor: pointer;
}

.up-in-toggle label:first-of-type {
  border-radius: 15px 0 0 15px;
}

.up-in-toggle label:last-of-type {
  border-radius: 0 15px 15px 0;
}